p {
    background-color: aliceblue;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: brown;
    font-size: 10px;
}
span {
    font-size: 15px;
    text-decoration: underline;
}
