td {
    width: 80px;
}

#brown {
    background-color: brown;
}
#deepskyblue {
    background-color: deepskyblue;
}
#blueviolet {
    background-color: blueviolet;
}
#gold {
    background-color: gold;
}
#darkorange {
    background-color: darkorange;
}
#olivedrab {
    background-color: olivedrab;
}
